{% extends 'base.jinja2' %}
{% block content %}
    <div class="form-size">
        <h1 class="mt-4 mb-2 center">Log In</h1>
        <form method="post" action="{{ url_for('users.login_user') }}">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button class="btn btn-default" value="submit">Log in</button>
        </form>
    </div>

{% endblock %}